* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a4ec6;
  font-family: "Poppins", sans-serif;
}

.container,
.form-input,
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

img {
  width: 50vw;
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

p {
  text-align: center;
}

.form-input {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 5rem;
}

.form {
  margin-top: 2.5rem;
}

.inline-input,
.checkbox {
  margin-bottom: 2.7rem;
}

input {
  height: 2rem;
  border-radius: 8px;
  width: 250px;
  background-color: #edebe2;
  border: none;
  padding: 0 15px;

  /* margin-right: -2rem; */
}
input:focus {
  outline: none !important;
}

::placeholder {
  text-align: center;
}

#icon {
  background-color: #21485f;
  color: white;
  padding: 7px;
  border-radius: 8px;
  /* margin-right: -2rem; */
}

.main-btn {
  width: 250px;
  border-radius: 8px;
  border: none;
  background-color: #21485f;
  color: white;
  height: 2rem;
  font-size: 18px;
  justify-content: center;
  align-content: center;
  margin-bottom: 2.7rem;
}

.main-btn:hover {
  cursor: pointer;
}

.signup-btn {
  background-color: #2a4ec6;
  border: 1px solid #21485f;
  margin-top: 2rem;
}

.ri-arrow-right-line {
  margin-left: 10px;
}

.checkbox input {
  height: 0.75rem;
  width: auto;
  background-color: #edebe2;
  border: none;
  margin-right: 1rem;
}

.signup {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.login-here {
  text-decoration: underline;
}

.login-here:hover {
  cursor: pointer;
}

.forgot-p {
  margin-bottom: 1.5rem;
}

.page {
  display: flex;
  flex-direction: column;
}

.failed-login {
  color: white;
  margin-top: 2rem;
}

h3 {
  text-align: center;
  margin-top: 5rem;
  color: #ffffff;
}

.gif {
  margin: 0 auto;
}

iframe {
  justify-content: center;
  margin: auto;
}

/* Mobile phones */
@media only screen and (max-width: 480px) {
  img {
    display: none;
  }
  .container,
  .form-input {
    margin: 25px;
  }

  h1 {
    font-size: 25px;
  }

  .inline-input {
    width: 75vw;
  }
}
